# Dependency directories
node_modules/
vendor/

# Logs
*.log

# Grunt intermediate storage (https://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Other
*.zip